@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Changa&family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[gray];
  }
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 2em;
  text-indent: -1em;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loadPage {
  animation-fill-mode: forwards;
  animation-name: fadeout;
  animation-duration: 2s;
  animation-delay: 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loadLogo {
  animation-fill-mode: forwards;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 0.5s;
}
